/* Featured Cars Carousel */
.featured-cars {
    padding: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* background-image: linear-gradient(to bottom, #D1C8FF, #FFF9F5); */
}

.carousel{
    padding: 2rem;
}

.feature_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 390px;
    text-align: center;
    height: 100%;
}

.feature_card_img{
    width: 100%;
    height: 16em;
    object-fit: cover;
}

.feature_card_content{
    margin: 0.5rem 1rem;
}

.feature_card_content {
   
}

.bullet{
    font-size: 4px;
}

.feature_card_features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0;
}

.feature_card_featureItem{
    padding: 0.5rem;
    background-color: rgb(212, 209, 211);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    border-radius: 4px;
}

.card_title{
    font-size: 1.2rem;
    font-weight: bold;
}

.card_subtitle{
    font-size: 1rem;
}

.card_bottom_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4px;
}

.card_down_payment{
    font-size: 0.7rem;
    margin-bottom: 4px;
}

.card_location{
    font-size: 0.8rem;
}



.row_style{
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: fit-content;
}

.space_between{
    justify-content: space-between;
}

.flex_start{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text_decoration{
    text-decoration: line-through;
}

.product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
}
  

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
}
  
.price {
    color: grey;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}
