.home_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
   
    background-image: linear-gradient(to bottom, #D1C8FF, #FFF9F5);
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */

@media screen and (max-width: 1290px) {
    .content_container{
        padding: 0 5rem 0 5rem;
    }
}

@media screen and (max-width: 992px) {
    .content_container{
        padding: 0 5rem 0 5rem;
    }
}

/* For medium devices */


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

    .content_container{
        padding: 0 2rem 0 2rem;
    }

    .image_style{
        height: 200px;
        border-bottom: 2px solid #6952DC;
    }

    .cognito_img{
        height: 25px;
    }

    .title{
        font-size: 1.5rem;
        line-height: 36px;
    }

    .subtitle{
        font-size: 1rem;
        line-height: 26px;
    }

} 

@media screen and (max-width: 420px) {

    .content_container{
        padding: 0 1rem 0 1rem;
    }

    .image_style{
        height: 200px;
        border-bottom: 2px solid #6952DC;
    }

    .cognito_img{
        height: 25px;
    }

    .appstore_icon{
        height: 30px;
    }


    .terms_condition{
        font-size: 0.75rem;
    }
    
    .app_year{
        font-size: 0.9rem;
    }
    
    
} 

/* For small devices */

@media screen and (max-width: 350px) {

}
