.home-banner {
    position: relative;
    width: 100%;
    height: 500px; 
    background-image: url('https://assets.cars24.com/production/c2b-website/240522164613/js/d8e03eca1c5e5bcf4363a9191a0a406b.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.banner-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 50%;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    height: 2rem;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.brands_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.brand_item_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brand {
    margin: 0 1rem;
}

.view-all-button {
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    background-color: #646cff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-all-button:hover {
    background-color: #535bf2;
}

/* Popup styles */
.search_popup {
    position: absolute;
    top: 3.5rem; /* Adjust the top position to align with the search bar */
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
}

.search_popup-title {
    margin-bottom: 0rem;
    font-size: 0.8rem;
    color: #333;
    text-align: start;
    padding-left: 10px;
}

.search_popup-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    margin-top: 10px;
}

.search_popup-item {
    padding: 0.5rem;
    color: #333;
    border-radius: 10px;
    border: 2px solid #fafafa;
    margin-right: 10px;
    margin-bottom: 10px;
}

.search_popup-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/*=============== BREAKPOINTS ===============*/
/* Large devices */
@media screen and (max-width: 1290px) {
    .home-banner {
        height: 400px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .search-bar {
        width: 60%;
    }
}

/* Medium devices */
@media screen and (max-width: 992px) {
    .home-banner {
        height: 350px;
    }

    .banner-title {
        font-size: 1.8rem;
    }

    .search-bar {
        width: 70%;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    .home-banner {
        height: 400px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .search-bar {
        width: 80%;
    }

    .brands_container {
        flex-direction: column;
    }

    .view-all-button {
        margin-left: 0;
        margin-top: 1rem;
    }
}

/* Small devices */
@media screen and (max-width: 576px) {
    /* .home-banner {
        height: 250px;
    } */

    /* .banner-title {
        font-size: 1.2rem;
    }

    .search-bar {
        width: 90%;
    }

    .brands_container {
        flex-direction: column;
    }

    .view-all-button {
        margin-left: 0;
        margin-top: 1rem;
    } */
}

/* Extra small devices */
@media screen and (max-width: 420px) {
    /* .home-banner {
        height: 400px;
    }

    .banner-title {
        font-size: 1rem;
    }

    .search-bar {
        width: 100%;
    }

    .brands_container {
        flex-direction: column;
    }

    .view-all-button {
        margin-left: 0;
        margin-top: 1rem;
    } */
}

/* Very small devices */
@media screen and (max-width: 350px) {
    .home-banner {
        height: 400px;
    }

    .banner-title {
        font-size: 0.8rem;
    }

    .search-bar {
        width: 90%;
        margin: 1rem;
    }

    .brands_container {
        flex-direction: column;
    }

    .view-all-button {
        margin-left: 0;
        margin-top: 1rem;
    }
}
