.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Adjust as needed */
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links ul li {
    margin-right: 1rem;
}

.navbar-links ul li:last-child {
    margin-right: 0;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #333; /* Adjust as needed */
    transition: color 0.3s;
}

.navbar-links ul li a:hover {
    color: #646cff; /* Adjust as needed */
}

.icon-container {
    display: flex;
    align-items: center;
}

.menu-button {
    display: none; /* Hide by default */
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.login-container {
    position: relative;
    margin-left: 20px;
}

.login-button {
    background-color: #646cff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.login-button:hover {
    background-color: #535bf2;
}

.user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-title {
    font-size: 0.8rem;
}

.user-subtitle {
    font-size: 1rem;
    color: white;
}

.chevron {
    margin-left: 0.5rem;
    transition: transform 0.3s;
}

.login-container:hover .chevron {
    transform: rotate(180deg);
}

/* Popup styles */
.popup {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
}

.login-container:hover .popup {
    display: block; 
}

.popup-content {
    display: flex;
    flex-direction: column;
}

.popup-link {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0;
    transition: color 0.3s;
}

.popup-link:hover {
    color: #646cff;
}

/* Mobile Menu */
.mobile-menu {
    display: none; /* Hide by default */
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px; /* Adjust based on navbar height */
    right: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    border-bottom: 1px solid #ddd;
}

.mobile-menu ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.mobile-menu ul li a:hover {
    background-color: #f0f0f0;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
    .navbar-links {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .login-container{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 0.5rem;
    }

    .login-button {
        padding: 0.3rem 0.5rem;
    }

    .user-avatar {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 420px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .login-button {
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
    }
}

@media screen and (max-width: 350px) {
    .navbar {
        padding: 0.3rem;
    }

    .login-button {
        font-size: 0.7rem;
        padding: 0.1rem 0.3rem;
    }
}
