/* styles.css */

/* Container styles */
.cars_container {
    margin: 0 auto;
    padding: 5rem 0rem 5rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.cars_content{
    padding: 0 10rem 0 10rem;
}

/* Section title styles */
.cars_content h3 {
    margin-top: 20px;
    font-size: 18px;
}

/* Section content styles */
.cars_content p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.lastupdate{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}



/*=============== BREAKPOINTS ===============*/
/* For large devices */

@media screen and (max-width: 1290px) {
    .cars_content{
        padding: 0 5rem 0 5rem;
    }
}

@media screen and (max-width: 992px) {
    .cars_content{
        padding: 0 5rem 0 5rem;
    }
}

/* For medium devices */


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

    .cars_content{
        padding: 0 2rem 0 2rem;
    }

} 

@media screen and (max-width: 420px) {

    .cars_content{
        padding: 0 1rem 0 1rem;
    }
} 

/* For small devices */

@media screen and (max-width: 350px) {

}
