/* Featured Cars Carousel */
.category_container {
    padding: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* background-image: linear-gradient(to bottom, #D1C8FF, #FFF9F5); */
}


.category_list_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
    /* background-color: red; */
}

.subcategory_list_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: red; */
}

.category_list_content_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    /* background-color: red; */
}

.category_list_item{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid gainsboro;
    /* width: 100%; */
}

.category_list_item:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.category_list_item_title{
    font-size: 1.2rem;
    font-weight: bold;
}

.category_list_item_subtitle{
    font-size: 1rem;
    font-weight: 500;
}


.subcategory_list_item{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    min-width: fit-content;
    /* width: 100%; */
}

.subcategory_list_item:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.subcategory_list_item_title{
    font-size: 0.95rem;
    font-weight: bold;
}

.subcategory_list_item_subtitle{
    font-size: 0.8rem;
    font-weight: 500;
}


.active_category{
    background-color: aliceblue;
}


  /*=============== BREAKPOINTS ===============*/
/* For large devices */

@media screen and (max-width: 1290px) {
   
}

@media screen and (max-width: 992px) {
    .category_list_container{
        grid-template-columns: repeat(2, 1fr);
        /* background-color: red; */
    }
    
}

/* For medium devices */


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .category_list_container{
        grid-template-columns: repeat(1, 1fr);
        /* background-color: red; */
    }
    
    .category_container {
        padding: 2.5rem;
    }
} 

@media screen and (max-width: 420px) {
    .category_container {
        padding: 2rem;
    }
} 

/* For small devices */

@media screen and (max-width: 350px) {
    .category_container {
        padding: 1rem;
    }
}
