#root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  







  /*=============== BREAKPOINTS ===============*/
/* For large devices */

@media screen and (max-width: 1290px) {
   
}

@media screen and (max-width: 992px) {

}

/* For medium devices */


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

} 

@media screen and (max-width: 420px) {

} 

/* For small devices */

@media screen and (max-width: 350px) {

}
